
ReSEEipt/gestureimageview/build/.transforms/416e9bcf312770aa681e504016035815.bin
ReSEEipt/gestureimageview/build/.transforms/416e9bcf312770aa681e504016035815/classes/classes.dex
ReSEEipt/gestureimageview/build/intermediates/compile_only_not_namespaced_r_class_jar/debug/R.jar
ReSEEipt/gestureimageview/build/intermediates/incremental/debug-mergeNativeLibs/merge-state
ReSEEipt/gestureimageview/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
ReSEEipt/gestureimageview/build/intermediates/incremental/mergeDebugShaders/merger.xml
ReSEEipt/gestureimageview/build/intermediates/incremental/packageDebugAssets/merger.xml
ReSEEipt/gestureimageview/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
ReSEEipt/gestureimageview/build/intermediates/incremental/packageDebugResources/merger.xml
ReSEEipt/gestureimageview/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
ReSEEipt/gestureimageview/build/intermediates/merged_manifests/debug/output.json
ReSEEipt/gestureimageview/build/outputs/logs/manifest-merger-debug-report.txt
