
ReSEEipt/gestureimageview/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
ReSEEipt/gestureimageview/build/intermediates/compile_only_not_namespaced_r_class_jar/debug/R.jar
ReSEEipt/gestureimageview/build/.transforms/67d97f524a8366c450f08a22358385fb.bin
ReSEEipt/gestureimageview/build/.transforms/71f2995a71a26295bb3b3f6dd0ccecd5.bin
ReSEEipt/gestureimageview/build/.transforms/71f2995a71a26295bb3b3f6dd0ccecd5/full/classes.dex
ReSEEipt/gestureimageview/build/intermediates/compile_only_not_namespaced_r_class_jar/debug/R.jar
ReSEEipt/gestureimageview/build/intermediates/incremental/debug-mergeNativeLibs/merge-state
ReSEEipt/gestureimageview/build/intermediates/compile_only_not_namespaced_r_class_jar/debug/R.jar
ReSEEipt/gestureimageview/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
ReSEEipt/gestureimageview/build/intermediates/incremental/mergeDebugShaders/merger.xml
ReSEEipt/gestureimageview/build/intermediates/compile_only_not_namespaced_r_class_jar/debug/R.jar
*.jar
ReSEEipt/gestureimageview/build/intermediates/merged_manifests/debug/output.json
ReSEEipt/gestureimageview/build/outputs/logs/manifest-merger-debug-report.txt
ReSEEipt/gestureimageview/build/intermediates/merged_manifests/debug/output.json
ReSEEipt/gestureimageview/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
ReSEEipt/gestureimageview/build/intermediates/incremental/packageDebugResources/merger.xml
ReSEEipt/gestureimageview/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
ReSEEipt/gestureimageview/build/intermediates/incremental/packageDebugAssets/merger.xml
ReSEEipt/gestureimageview/build/intermediates/incremental/mergeDebugShaders/merger.xml
ReSEEipt/gestureimageview/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
ReSEEipt/gestureimageview/build/intermediates/incremental/debug-mergeNativeLibs/merge-state
ReSEEipt/gestureimageview/build/intermediates/compile_only_not_namespaced_r_class_jar/debug/R.jar
ReSEEipt/gestureimageview/build/intermediates/compile_only_not_namespaced_r_class_jar/debug/R.jar
ReSEEipt/gestureimageview/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
ReSEEipt/gestureimageview/build/intermediates/incremental/mergeDebugShaders/merger.xml
ReSEEipt/gestureimageview/build/intermediates/incremental/packageDebugAssets/merger.xml
ReSEEipt/gestureimageview/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
ReSEEipt/gestureimageview/build/intermediates/incremental/packageDebugResources/merger.xml
ReSEEipt/gestureimageview/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
ReSEEipt/gestureimageview/build/intermediates/merged_manifests/debug/output.json
ReSEEipt/gestureimageview/build/outputs/logs/manifest-merger-debug-report.txt
