
ReSEEipt/gestureimageview/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
ReSEEipt/gestureimageview/build/intermediates/compile_only_not_namespaced_r_class_jar/debug/R.jar
